$alert-border: 10px solid #DC143C;
$normal-border: 10px solid #00FF00;

.op-box {
  border: $normal-border;
  max-width: 1560px;
  overflow: auto;

  height: 600px;
}

.alert{
border: $alert-border;
}


